.header {
  position: fixed;
  top: 3%;
  left: 20%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 2em;
  background-color: var(--bg-color);
  border-radius: 8px;
  color: var(--text-color);
  box-shadow: 0px 4px 6px var(--shadow);
  z-index: 100;
}

.nav {
  display: flex;
  gap: 1em;
  align-items: center;
}

b {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-color1);
}
.hindi {
  font-size: 1em;
  font-weight: bold;
}

.theme-toggle {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.3em;
  background-color: var(--text-color1);
  color: var(--bg-color1);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.sun {
  color: #FFD700;
  font-size: 1.5em; 
}

.sun.dark {
  color: #FFFFFF;
}

.moon {
  color: rgb(0, 0, 0);
  font-size: 1.5em; 
}
.moon.dark {
  color:white;
}
/* .theme-toggle:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 0px solid var(--text-color);
} */

.switch {
  margin-top: 2px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  opacity: 0.7;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  background-color: rgb(218, 212, 212);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: lightgrey;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

i {
  opacity: 0.3;
  border-right: 15px;
}
