  .sign{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--bg-color);
    position: relative;
  }
  .glass-form {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(6px);
    border: 2px solid var(--shadow);
    padding: 1.8rem;
    width: 90%;
    color: var(--text-color);
    position: relative;
    z-index: 1;
    max-width: 400px;
  }

  .circle1 {
    position: absolute;
    top: 15vh; /* Adjust to align with the top-right corner */
    right: 30vw; /* Adjust to push to the right */
    width: 150px; /* Circle width */
    height: 150px; /* Circle height */
    background: var(--text-color);
    border-radius: 50%; /* Makes it a circle */
    z-index: 1; /* Places it behind the form */
  }
  
  .circle2 {
    position: absolute;
    bottom: 13vh; /* Adjust to align with the bottom-left corner */
    left: 30vw; /* Adjust to push to the left */
    width: 150px; /* Circle width */
    height: 150px; /* Circle height */
    background: var(--text-color);
    border-radius: 50%; /* Makes it a circle */
    z-index: 1; /* Places it behind the form */
  }
  .glass-form h2{
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
    font-weight: 700;
  }
  
  .footer-text {
    display: flex;
    font-size: 0.9rem;
  }
  
  .footer-text a {
    color: var(--text-color);
    padding-left: 5px;
    font-size: 1.6rem;
    text-decoration: none;
  }
  
  .footer-text a:hover {
    text-decoration: underline;
  }
  